# Deis CLI requirements

cryptography==0.8.2
docopt==0.6.2
ndg-httpsclient==0.3.3
pyasn1==0.1.7
pyOpenSSL==0.15.1
python-dateutil==2.4.2
PyYAML==3.11
requests==2.5.1
tabulate==0.7.4
termcolor==1.1.0
urllib3==1.10.2
