
a.headerlink {
  visibility: hidden;
	margin-left: 8px;
	vertical-align: middle;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

span.viewcode-link {
	font-size: 10px;
	margin-left: 6px;
	vertical-align: super;
}

a.viewcode-back {
	font-size: 10px;
	margin-right: 6px;
	vertical-align: super;
}

blockquote {
    border-left: none;
}
