footer {
    display: none;
    width: 201px;
}
.testClass {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
h1 {
    display: inline-block;
    padding: 50px 0 45px 0;
    margin-bottom: 21px;
    font-size: 36px;
}
h2 {
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 36px;
}
h3 {
    font-size: 16px;
    font-weight: 300;
}
h4 {
    margin: 50px 0 50px 0;
    font-size: 28px;
    font-style: italic;
    line-height: normal;
    color: #999;
}
a {
    font-family: helvetica;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    border: 0!important;
}
p {
    font-family: helvetica;
    font-size: 16px;
    line-height: 22px;
}
img {
    border: 0!important;
}
.fork {
    float: right;
}
.fork .forkImage {
    width: 103px;
    height: 58px;
    background: url(../img/fork.png);
}
.fork .forkImage:hover {
    background: url(../img/fork.png) 0 -58px;
}
a.get-deis-link {
    font-size: 28px;
    font-style: italic;
    line-height: normal;
    color: #999!important;
    text-decoration: none;
}
a.get-deis-link:hover {
    color: #00aeff!important;
    text-decoration: none;
}
.main-fork {
    position: absolute;
    right: 0;
    z-index: 999;
}
.menu {
    padding-right: 0;
}
.menu .divider {
    margin: 0;
    background: #ccc;
    border-bottom: 0;
}
.menu a {
    text-decoration: none;
}
.menu a .logo {
    padding-top: 50px;
    padding-bottom: 49px;
}
.menu a:hover {
    background: none!important;
}
.nav-border {
    border-right: solid 1px #ccc;
}
#video {
    height: 390px;
}
.navitem {
    padding: 0;
}
.navitem.selected.pink {
    color: #ff135a;
    border-right: solid 5px #ff135a;
}
.navitem.selected.pink a:hover {
    color: #ff135a!important;
}
.navitem.selected.green {
    color: #00bd50;
    border-right: solid 5px #00bd50;
}
.navitem.selected.green a:hover {
    color: #00bd50!important;
}
.navitem.selected.blue {
    color: #00aeff;
    border-right: solid 5px #00aeff;
}
.navitem.selected.blue a:hover {
    color: #00aeff!important;
}
.navitem.overview:hover {
    color: #00bd50;
    border-right: solid 5px #00bd50;
}
.navitem.overview:hover a {
    color: #00bd50;
}
.navitem.get-deis:hover {
    color: #00aeff;
    border-right: solid 5px #00aeff;
}
.navitem.get-deis:hover a {
    color: #00aeff;
}
.navitem.get-involved:hover {
    color: #ff135a;
    border-right: solid 5px #ff135a;
}
.navitem.get-involved:hover a {
    color: #ff135a;
}
.navitem.documentation:hover {
    color: #00bd50;
    border-right: solid 5px #00bd50;
}
.navitem.documentation:hover a {
    color: #00bd50;
}
.navitem.blog:hover {
    color: #00aeff;
    border-right: solid 5px #00aeff;
}
.navitem.blog:hover a {
    color: #00aeff;
}
.navitem a {
    width: 227px;
    padding-top: 26px!important;
    padding-right: 0!important;
    padding-bottom: 26px!important;
    color: #999;
}
.navitem a:hover {
    background: none!important;
}
.social-menu {
    height: 34px;
    margin: 0 0 28px 15px;
}
.social-menu a {
    border: 0;
}
.social-menu a:hover {
    border: 0;
}
.social-menu a span {
    display: inline-block;
    float: left;
    width: 34px;
    height: 33px;
}
.social-menu a span.twitter {
    margin-right: 4px;
    background: url(../img/social.png) 0 0;
}
.social-menu a span.twitter:hover {
    background: url(../img/social.png) 0 -33px;
}
.social-menu a span.irc {
    margin-right: 4px;
    background: url(../img/social.png) -37px 0;
}
.social-menu a span.irc:hover {
    background: url(../img/social.png) -37px -33px;
}
.social-menu a span.github {
    margin-right: 4px;
    background: url(../img/social.png) -74px 0;
}
.social-menu a span.github:hover {
    background: url(../img/social.png) -74px -33px;
}
.social-menu a span.stack {
    background: url(../img/social.png) -110px 0;
}
.social-menu a span.stack:hover {
    background: url(../img/social.png) -110px -33px;
}
.byline-menu {
    height: 34px;
    margin-left: 15px;
}
.byline-menu a {
    font-size: 12px;
    line-height: 16px;
    color: #ccc;
    text-decoration: none;
    border: 0;
}
.byline-menu a:hover {
    color: #00aeff;
    text-decoration: none;
    border: 0;
}
.byline-menu span {
    display: inline-block;
    float: left;
    width: 36px;
    height: 33px;
}
.byline-menu span.cloud-logo {
    margin-right: 15px;
    background: url(../img/social.png) -143px 0;
}
.byline-menu p {
    font-size: 12px;
    line-height: 16px;
    color: #ccc;
}
.home p {
    line-height: 25px;
    color: #ff135a;
}
.home img.cover-image {
    padding-top: 165px;
    padding-left: 100px;
}
.overview img {
    width: 165px;
    margin-top: 35px;
    margin-left: 72px;
}
div.navigation-left {
    float: left;
}
div.navigation-right {
    float: right;
}
.pink a {
    color: #ff135a;
}
.pink a:hover {
    color: #999;
}
.pink h1 {
    color: #ff135a;
    border-bottom: solid 1px #ff135a;
}
.pink h2 {
    color: #ff135a;
}
.pink h3 {
    color: #ff135a;
}
.green a {
    color: #00bd50;
}
.green a:hover {
    color: #999;
}
.green h1 {
    color: #00bd50;
    border-bottom: solid 1px #00bd50;
}
.green h2 {
    color: #00bd50;
}
.green h3 {
    color: #00bd50;
}
.blue a {
    color: #00aeff;
}
.blue a:hover {
    color: #999;
}
.blue h1 {
    color: #00aeff;
    border-bottom: solid 1px #00aeff;
}
.blue h2 {
    color: #00aeff;
}
.blue h3 {
    color: #00aeff;
}
pre, code pre {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 12px;
    color: #fff;
    background-color: #00aeff;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.gd-code p {
    font-size: 15px;
}
.gd-code a {
    font-size: 15px;
}
.spacer {
    margin-bottom: 10px;
}
.spacer2 {
    margin-bottom: 14px;
}
.social-container {
    height: 330px;
}
.gi {
    width: 434px;
    height: 285px;
}
.gi.twitter {
    float: left;
    width: 436px;
    height: 286px;
    background: url(../img/large-social.png) 0 0;
}
.gi.twitter:hover {
    background: url(../img/large-social.png) 0 -571px;
}
.gi.irc {
    float: left;
    height: 286px;
    background: url(../img/large-social.png) -436px 0;
}
.gi.irc:hover {
    background: url(../img/large-social.png) -436px -571px;
}
.gi.github {
    float: left;
    width: 436px;
    background: url(../img/large-social.png) 0 -286px;
}
.gi.github:hover {
    background: url(../img/large-social.png) 0 -857px;
}
.gi.stack {
    float: left;
    background: url(../img/large-social.png) -436px -286px;
}
.gi.stack:hover {
    background: url(../img/large-social.png) -436px -857px;
}
.author-only {
    padding-top: 16px;
}
.blog-social {
    margin-top: 50px;
}
.blog-social .blog {
    width: 32px;
    height: 32px;
}
.blog-social .blog.facebook {
    float: left;
    margin-right: 5px;
    background: url(../img/blog-social.png) 0 0;
}
.blog-social .blog.facebook:hover {
    background: url(../img/blog-social.png) 0 -32px;
}
.blog-social .blog.twitter {
    float: left;
    margin-right: 5px;
    background: url(../img/blog-social.png) -37px 0;
}
.blog-social .blog.twitter:hover {
    background: url(../img/blog-social.png) -37px -32px;
}
.blog-social .blog.google-plus {
    float: left;
    background: url(../img/blog-social.png) -74px 0;
}
.blog-social .blog.google-plus:hover {
    background: url(../img/blog-social.png) -74px -32px;
}
.blog-social .time {
    display: inline-block;
    padding-top: 7px;
    padding-left: 30px;
    color: #ccc;
}
.blog-social .time p {
    display: inline;
    padding-top: 5px;
    font-weight: 300;
}
.blog-social .blog-tags {
    padding-left: 86px;
}
.blog-social .blog-tags a {
    color: #00aeff;
    text-decoration: none;
}
.blog-social .blog-tags a:hover {
    color: #999;
}
.blog a h1:hover {
    color: #999;
    border-bottom: solid 1px #999;
}
.blog-nav a {
    display: inline-block;
    padding: 23px 23px 23px 23px;
    margin: 100px 5px 14px 0;
    color: #fff;
    text-decoration: none;
    background-color: #00aeff;
}
.blog-nav a:hover {
    background-color: #999;
}
.bio {
    margin-top: 80px;
}
.bio .bio-pic {
    float: left;
}
.bio .bio-info {
    float: left;
    width: 230px;
    height: 98px;
    padding-right: 30px;
    margin-left: 20px;
    border-right: solid 2px #ccc;
}
.bio .bio-info p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
}
.bio .bio-info a {
    font-size: 12px;
    color: #00aeff;
    text-decoration: none;
}
.bio .bio-info .bio-name {
    font-weight: 600;
}
.bio .bio-info .bio-twitter {
    margin-bottom: 0;
}
.bio .bio-links {
    float: left;
    margin-left: 30px;
}
.bio .bio-links a {
    display: block;
    font-size: 12px;
    color: #00aeff;
    text-decoration: none;
}
.bio .bio-links .inline {
    display: inline;
}
.asciicast iframe {
    height: 400px!important;
}
.content {
    padding-bottom: 50px;
}
.doc-content {
    padding-bottom: 50px;
}
.doc-content h1 {
    height: 40px!important;
    color: #00bd50;
    border-bottom: solid 1px #00bd50;
}
.doc-content h2 {
    color: #00bd50;
}
.doc-content h3 {
    color: #00bd50;
}
.doc-content a, .doc-content a em, .doc-content em {
    font-style: normal!imporant;
    color: #00bd50!important;
}
.doc-content a:hover, .doc-content a em:hover, .doc-content em:hover {
    color: #999!important;
}
.doc-content pre, .doc-content code pre {
    color: #000!important;
    background-color: #f5f5f5!important;
}
.doc-content .version-warning {
    padding: 10px;
    margin-top 10px;
    border: solid 4px #ff135a;
}
.doc-content .version-warning .version-warning-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-indent: 50px;
}
.doc-content .important .version-warning-title {
    background: url(../img/glyphs.png) no-repeat 0 -81px;
}
.doc-content .version-warning a, .doc-content .version-warning a em, .doc-content .version-warning em {
    font-style: normal!imporant;
    color: #ff135a!important;
}
.doc-content .admonition {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 4px #00bd50;
}
.doc-content .admonition .admonition-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-indent: 50px;
}
.doc-content .warning  {
    border: solid 4px #F93;
}
.doc-content .warning .admonition-title {
    background: url(../img/glyphs.png) no-repeat;
}
.doc-content .note .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -25px;
}
.doc-content .tip .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -53px;
}
.doc-content .important .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -81px;
}
.doc-content .hint .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -108px;
}
.doc-content .attention .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -135px;
}
.doc-content .caution .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -160px;
}
.doc-content .danger .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -186px;
}
.doc-content .error .admonition-title {
    background: url(../img/glyphs.png) no-repeat 0 -218px;
}
.docs-sidebar {
    position: absolute;
    right: 0;
    width: 195px!important;
    min-height: 600px;
    padding-bottom: 50px;
    margin-left: 105px!important;
}
.docs-sidebar .docs-border {
    margin: 145px 0 30px 0;
    border-top: 1px solid #999;
}
.docs-sidebar .toctree-l1 ul {
    display: none;
}
.docs-sidebar ul, .docs-sidebar li {
    margin: 0;
    list-style: none;
}
.docs-sidebar li.toctree-l1 {
    margin-bottom: 20px;
}
.docs-sidebar li.toctree-l1 a {
    color: #00bd50;
    text-decoration: none;
}
.docs-sidebar li.toctree-l2.current:before {
    content: "• ";
    color: #00bd50;
}
.docs-sidebar li.toctree-l2 {
    margin-top: 10px;
}
.docs-sidebar li.toctree-l2 a {
    font-size: 16px;
    color: #999;
    text-decoration: none;
}
.searchbox {
    width: 134px!important;
    height: 54px!important;
    padding-left: 50px!important;
    font-family: helvetica!important;
    font-size: 16px!important;
    font-weight: 300!important;
    color: white!important;
    background: url(../img/mag_glass.png) no-repeat 15px 21px #ccc!important;
    border: 0!important;
    border-left: 5px solid #00bd50!important;
    border-radius: 0!important;
    border-shadow: none!important;
}
table.docutils {
    border-spacing: 5px;
}
table.docutils td {
    padding: 5px;
}
#notfound {
    display: block;
    width: 175px!important;
    margin-top: 178px!important;
}
em {
    font-style: normal!important;
}
.mc_merge_var, .mc_signup_submit {
    float: left;
}
#mc_mv_EMAIL {
    width: 211px!important;
    height: 30px!important;
    margin-bottom: 0;
    font-family: helvetica!important;
    font-size: 12px!important;
    font-weight: 400!important;
    color: #333!important;
    border: 1px solid #ff135a;
}
.mc_merge_var input {
    font-family: helvetica!important;
    font-size: 12px!important;
    font-weight: 400!important;
    color: #333!important;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}
.mc_signup_submit {
    margin-top: 5px;
    margin-left: 10px;
}
#mc_signup_submit {
    width: 49px!important;
    padding: 6px 14px 4px 14px;
    margin-top: 2px!important;
    font-family: helvetica;
    font-size: 12px;
    color: #fff;
    background: #ff135a;
    border: 0;
}
.mailchimp form {
    margin-bottom: 0;
}
.mailchimp p {
    margin: 0;
}
#mc_message strong {
    font-family: helvetica;
    font-size: 12px;
    font-weight: 400!important;
    color: #333!important;
}
.mc_error_msg {
    font-family: helvetica;
    font-size: 12px;
    font-weight: 400!important;
    color: #333!important;
}
.mc_error_msg a {
    font-size: 12px;
    color: #ff135a;
}
.highlight-link {
    display: none;
}
.rtd-docs br {
    display: none!important;
}
@media(max-width:767px) {
    .main-fork {
    left: 1000px!important;
}
}@media(max-width:480px) {
    .main-fork {
    left: 1000px!important;
}
}
