[run]
omit =
    */venv/*
    */virtualenv/*
    *tests*
    api/__init__.py
    client/__init__.py
    client/models.py
    cm/__init__.py
    cm/models.py
    provider/digitalocean.py
    provider/ec2.py
    provider/models.py
    provider/rackspace.py
    provider/static.py
    web/__init__.py
    web/models.py
    web/templatetags/__init__.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
extra_css = web/static/css/main.css
title = Deis Coverage Report
