*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Sublime Text droppings
*.sublime-project
*.sublime-workspace

# Deis' config file
deis/local_settings.py
.secret_key

# deis application logs
logs/

# Misc.
.DS_Store
htmlcov/
.ruby-version
venv/
.vagrant
*.swp

