[submodule "images/discovery"]
	path = images/discovery
	url = https://github.com/deis/discovery.git
[submodule "images/cache"]
	path = images/cache
	url = https://github.com/deis/cache.git
[submodule "images/server"]
	path = images/server
	url = https://github.com/deis/server.git
[submodule "images/worker"]
	path = images/worker
	url = https://github.com/deis/worker.git
[submodule "images/builder"]
	path = images/builder
	url = https://github.com/deis/builder.git
[submodule "images/registry"]
	path = images/registry
	url = https://github.com/deis/registry.git
[submodule "images/logger"]
	path = images/logger
	url = https://github.com/deis/logger.git
[submodule "images/database"]
	path = images/database
	url = https://github.com/deis/database.git
