[submodule "images/etcd"]
	path = images/etcd
	url = https://github.com/deis/etcd.git
[submodule "images/postgres"]
	path = images/postgres
	url = https://github.com/deis/postgres.git
[submodule "images/redis"]
	path = images/redis
	url = https://github.com/deis/redis.git
[submodule "images/server"]
	path = images/server
	url = https://github.com/deis/server.git
[submodule "images/worker"]
	path = images/worker
	url = https://github.com/deis/worker.git
[submodule "images/builder"]
	path = images/builder
	url = https://github.com/deis/builder.git
[submodule "images/registry"]
	path = images/registry
	url = https://github.com/deis/registry
