# Deis controller requirements
boto==2.23.0
celery==3.1.7
Django==1.6.1
django-allauth==0.15.0
django-guardian==1.1.1
django-json-field==0.5.5
django-yamlfield==0.5
djangorestframework==2.3.12
dop==0.1.4
gevent==1.0
gunicorn==18.0
paramiko==1.12.1
psycopg2==2.5.2
pycrypto==2.6.1
pyrax==1.6.2
PyYAML==3.10
South==0.8.4

# Deis client requirements
docopt==0.6.1
python-dateutil==2.2
#PyYAML==3.10
requests==2.2.0

# Deis documentation requirements
Sphinx>=1.2
smartypants>=1.8.3
sphinxcontrib-httpdomain>=1.2.0

# Run "make coverage" for the % of code exercised during tests
coverage>=3.7.1

# Generates template documentation in the Django admin
docutils>=0.11

# Run "make flake8" to check python syntax and style
flake8>=2.1.0

# Python expect is used to automate client-driven tests
pexpect>=3.0
