[Unit]
Description=stop update-engine-reboot-manager

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl stop update-engine-reboot-manager.service
ExecStartPost=/usr/bin/systemctl mask update-engine-reboot-manager.service

[Install]
WantedBy=multi-user.target
