[Unit]
Description=deis-router

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "docker history deis/router >/dev/null || docker pull deis/router"
ExecStartPre=/bin/sh -c "docker inspect deis-router >/dev/null && docker rm -f deis-router || true"
ExecStart=/usr/bin/docker run --name deis-router -p 80:80 -e PUBLISH=80 -e HOST=${COREOS_PRIVATE_IPV4} deis/router
ExecStop=/usr/bin/docker rm -f deis-router

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-Conflicts=deis-router.*.service
