[Unit]
Description=deis-registry
After=docker.service
Requires=docker.service
Requires=docker-tcp.socket

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a deis-registry || /usr/bin/docker run --name deis-registry -p 5000:5000 -e PUBLISH=5000 -e HOST=172.17.8.100 -e ETCD=172.17.8.100:4001 deis/registry'
ExecStop=/usr/bin/docker stop deis-registry

[Install]
WantedBy=multi-user.target