[Unit]
Description=deis-swarm-manager

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/swarm` && docker history $IMAGE >/dev/null 2>&1 || docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect deis-swarm-manager >/dev/null 2>&1 && docker rm -f deis-swarm-manager >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/swarm` && docker run --name deis-swarm-manager --rm -p 2395:2375 -e EXTERNAL_PORT=2395 -e HOST=$COREOS_PRIVATE_IPV4 -v /etc/environment_proxy:/etc/environment_proxy $IMAGE manage"
ExecStopPost=-/usr/bin/docker rm -f deis-swarm-manager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
