[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=deis-kube-apiserver.service
After=deis-kube-apiserver.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/bash -c "/opt/bin/download-k8s-binary kube-controller-manager"
ExecStartPre=/bin/bash -c "/opt/bin/wupiao $(/usr/bin/etcdctl get /deis/scheduler/k8s/master):8080"
ExecStart=/opt/bin/kube-controller-manager \
  --service_account_private_key_file=/opt/bin/kube-serviceaccount.key \
  --master=127.0.0.1:8080 \
  --pod_eviction_timeout=30s \
  --logtostderr=true
Restart=always
RestartSec=10
SuccessExitStatus=2

[X-Fleet]
MachineOf=deis-kube-apiserver.service
