[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=deis-kube-apiserver.service
After=deis-kube-apiserver.service
[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/wget -P /opt/bin https://storage.googleapis.com/kubernetes-release/release/v0.18.0/bin/linux/amd64/kube-controller-manager
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-controller-manager
ExecStart=/opt/bin/kube-controller-manager \
  --master=127.0.0.1:8080 \
  --pod_eviction_timeout=30s \
  --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=deis-kube-apiserver.service
