[Unit]
Description=Mesos slave
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill deis-mesos-slave
ExecStartPre=-/usr/bin/docker rm deis-mesos-slave
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/mesos-slave` && docker history $IMAGE >/dev/null 2>&1 || docker pull $IMAGE"
ExecStart=/usr/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/mesos-slave` && docker run --name=deis-mesos-slave --net=host --privileged -e HOST=$COREOS_PRIVATE_IPV4 -v /sys:/sys -v /usr/bin/docker:/usr/bin/docker:ro -v /var/run/docker.sock:/var/run/docker.sock -v /lib64/libdevmapper.so.1.02:/lib/libdevmapper.so.1.02:ro $IMAGE"
ExecStop=-/usr/bin/docker stop deis-mesos-slave

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
