[Unit]
Description=Zookeeper
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=/bin/sh -c "docker inspect zookeeper-data >/dev/null 2>&1 || docker run --name zookeeper-data -v /opt/zookeeper-data alpine:3.1 /bin/true"
ExecStartPre=-/usr/bin/docker kill zookeeper
ExecStartPre=-/usr/bin/docker rm zookeeper
ExecStartPre=/usr/bin/docker pull aledbf/zookeeper:3.5.0
ExecStart=/bin/sh -c "/usr/bin/docker run -e EXTERNAL_PORT=2181 -e HOST=$COREOS_PRIVATE_IPV4 -e LOG_LEVEL=debug --net=host --rm --name zookeeper --volumes-from=zookeeper-data aledbf/zookeeper:3.5.0"
ExecStop=/usr/bin/docker stop zookeeper

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
