[Unit]
Description=deis-store-daemon

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/store-daemon` && docker history $IMAGE >/dev/null 2>&1 || docker pull $IMAGE"
ExecStart=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/store-daemon` && docker start -a deis-store-daemon >/dev/null || docker run --name deis-store-daemon -e HOST=$COREOS_PRIVATE_IPV4 -p 6800 --net host $IMAGE"
ExecStopPost=-/usr/bin/docker stop deis-store-daemon

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
