[Unit]
Description=deis-cache
After=docker.service
Requires=docker.service
Requires=docker-tcp.socket

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a deis-cache || /usr/bin/docker run --name deis-cache -p 6379:6379 -e PUBLISH=6379 -e HOST=172.17.8.100 -e ETCD=172.17.8.100:4001 deis/cache'
ExecStop=/usr/bin/docker stop deis-cache

[Install]
WantedBy=multi-user.target