[Unit]
Description=deis-cache

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "/usr/bin/docker history deisreleases/cache-v0.8.0 >/dev/null || /usr/bin/docker pull deisreleases/cache-v0.8.0"
ExecStartPre=/bin/sh -c "/usr/bin/docker inspect deis-cache >/dev/null && /usr/bin/docker rm -f deis-cache || true"
ExecStart=/bin/sh -c "docker run --name deis-cache -p 6379:6379 -e PUBLISH=6379 -e HOST=$COREOS_PRIVATE_IPV4 deisreleases/cache-v0.8.0"
ExecStop=/usr/bin/docker rm -f deis-cache

[Install]
WantedBy=multi-user.target
