[Unit]
Description=deis-cache

[Service]
TimeoutStartSec=20m
ExecStartPre=/usr/bin/docker pull deis/cache:latest
ExecStart=/usr/bin/docker run --name deis-cache -p 6379:6379 -e PUBLISH=6379 deis/cache
ExecStop=/usr/bin/docker rm -f deis-cache

[Install]
WantedBy=multi-user.target
