.navbar li>a {
  font-size: 16px;
  font-weight: 700;
}
.navbar-inner {
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #e4e4e4;
}
.navbar-inner .brand img {
  vertical-align: top;
}
.navbar-inner li {
  border-bottom: none;
}
.navbar-inner a {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
.navbar-inner li:hover,
.navbar-inner li.active {
  border-bottom: 1px solid #ff221d;
}
.navbar .nav>li>a.dropdown-toggle {
  padding-top: 8px;
  padding-bottom: 8px;
}
.img-avatar {
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}
button {
  background-color: #0432f8;
  color: #ffffff;
}
form input,
form textarea {
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
form.login button {
  width: 100%;
  text-align: left;
}
