[Unit]
Description=deis-controller
Requires=deis-logger.service deis-builder.service
After=deis-logger.service deis-builder.service

[Service]
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "/usr/bin/docker history deis/controller >/dev/null || /usr/bin/docker pull deis/controller"
ExecStart=/bin/sh -c "IFACE=$(netstat -nr | grep ^0.0.0.0 | awk '{print $8}') && HOST_IP=$(/bin/ifconfig $IFACE | awk '/inet /{print $2}') && exec /usr/bin/docker run --name deis-controller -p 8000:8000 -e PUBLISH=8000 -e HOST=$HOST_IP --volumes-from=deis-logger deis/controller"
ExecStop=/usr/bin/docker rm -f deis-controller

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=deis-logger.service
