[Unit]
Description=deis-controller
After=docker.service
Requires=docker.service
Requires=docker-tcp.socket
Requires=etcd.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a deis-controller || /usr/bin/docker run --name deis-controller -p 8000:8000 -e PUBLISH=8000 -e HOST=172.17.8.100 -e ETCD=172.17.8.100:4001 deis/controller'
ExecStop=/usr/bin/docker stop deis-controller

[Install]
WantedBy=multi-user.target