{% extends "web/base.html" %}
{% load gravatar_tags %}
{% load i18n %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="green">
  <h1>Account</h1>
  <div class="row-fluid well">
    <div class="span3">
      <h3>
        {{ user.username }}&nbsp;&nbsp;
        <img src="{% gravatar_url user.email %}" class="img-circle" height="64" width="64">
      </h3>
    </div>
    <div class="span9">
      {{ user.first_name }} {{ user.last_name }}
      {{ user.email }}
    </div>
  </div>
  <div class="row-fluid">
    {% if user.is_staff %}
    <a href="{% url 'admin:index' %}" class="btn btn-link">Admin</a>
    {% endif %}
  </div>
</div>
{% endblock %}
