{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>Deis | {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" media="screen" type="text/css">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/deis-controller.css" %}" type="text/css">
  <link rel="shortcut icon" href="{% static "favicon.ico" %}">
  <meta name='robots' content='noindex,nofollow' />
  {% block extrahead %}{% endblock %}
</head>
<body style="zoom: 1;">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  {% ifequal page 'support' %}
  <a class="fork" href="http://github.com/opdemand/deis"><div class="forkImage"></div></a>
  {% endifequal %}
  <div class="container">
    <div class="row">
      <div class="span3 column_calc menu">
        <div class="nav-border top-spacing">
          <ul class="nav nav-list menu">
            <li><a href="{% url "dashboard" %}"><img class="logo" src="{% static "img/menu-logo.png" %}" alt="deis logo"></a></li>
            <li class="divider"></li>
            {% if user.is_authenticated %}
            <li class="navitem{% ifequal page "clusters" %} selected pink{% endifequal %}"><a href="{% url "clusters" %}">Clusters</a></li>
            <li class="divider"></li>
            <li class="navitem{% ifequal page "apps" %} selected blue{% endifequal %}"><a href="{% url "apps" %}">Apps</a></li>
            <li class="divider"></li>
            <li class="navitem{% ifequal page "account" %} selected green{% endifequal %}"><a href="{% url "account" %}">Account</a></li>
            <li class="divider"></li>
            <li class="navitem"><a href="http://docs.deis.io/" target="_blank">Documentation</a></li>
            <li class="divider"></li>
            <li class="navitem{% ifequal page "support" %} selected blue{% endifequal %}"><a href="{% url "support" %}">Support</a></li>
            <li class="divider"></li>
            <div style="clear:both;"></div>
            {% endif %}
          </ul>
          <div class="social-menu">
            <a href="https://twitter.com/opendeis" target="_blank"><span class="twitter"></span></a>
            <a href="http://freenode.net" target="_blank"><span class="irc"></span></a>
            <a href="https://github.com/opdemand/deis" target="_blank"><span class="github"></span></a>
            <a href="http://stackoverflow.com/" target="_blank"><span class="stack"></span></a>
          </div>
          <div class="byline-menu">
            <span class="cloud-logo"></span>
            <p>Deis is a project by<br>OpDemand</p>
          </div>
        </div>
      </div>

      <div class="span8 column_calc contents">
        {% if messages %}
          {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>

    </div> <!-- .row -->
  </div> <!-- .main_section container-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
