{% extends "web/base.html" %}
{% load humanize %}

{% block title %}Clusters{% endblock %}

{% block content %}
<div class="pink">
  <h1>{% if clusters %}{{ clusters|length|apnumber|capfirst }}{% else %}No{% endif %} Cluster{{ clusters|pluralize }}</h1>
  {% for cluster in clusters %}
  <a name="cluster.id"></a>
  <div class="row-fluid well">
    <div class="span3">
      <h3>{{ cluster.id }}</h3>
    </div>
    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Updated</dt>
        <dd>{{ cluster.updated }}</dd>
        <dt>Created</dt>
        <dd>{{ cluster.created }}</dd>
        <dt>Owned by</dt>
        <dd>{{ cluster.owner }}</dd>
        {% if domain %}
        <dt>Domain</dt>
        <dd>{{ cluster.domain }}</dd>
        {% endif %}
      </dl>
    </div>
    <div class="span3">
      {% for node in cluster.jobs %}
      {{ job }}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
