{% extends "web/base.html" %}

{% block title %}Support{% endblock %}

{% block content %}
<div class="blue">
  <h1>Support</h1>
  <h2>IRC</h2>
  <p>
    Join the Deis core developers and user community on the <strong>#deis</strong>
    <a href="https://botbot.me/freenode/deis/">IRC channel</a> on freenode.net. All questions
    are welcome, and the core Deis developers make every effort to be available.
  </p>
  <h2>GitHub</h2>
  <p>
    Request a new feature or report a bug to the Deis team as a
    <a href="https://github.com/deis/deis/issues">GitHub issue</a>. Deis
    has great test coverage, but we rely on you to help us find things to fix
    and ways to improve.
  </p>
  <h2>StackOverflow</h2>
  <p>
    Questions about Deis, Docker, and PaaS systems in general receive expert
    answers from a large developer community at
    <a href="http://stackoverflow.com/questions/tagged/deis?sort=active">StackOverflow</a>.
  </p>
</div>
{% endblock %}
