# Deis requirements for Sphinx documentation generation
# This avoids readthedocs.org having to install many packages that aren't
# actually needed to make the docs, while honoring their limitation of
# one requirements file. Please keep it up-to-date with the root
# requirements.txt and dev_requirements.txt files.
#
# NOTE: For testing on Mac OS X Mavericks, use the following to work around a clang issue:
# ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future pip install [pycrypto]
#
celery==3.1.8
Django==1.6.4
django-allauth==0.15.0
# HACK: use bacongobbler's feature branch until
# https://github.com/kmmbvnr/django-fsm/pull/31 is merged
git+https://github.com/bacongobbler/django-fsm@add-exception-handling
django-guardian==1.1.1
django-json-field==0.5.5
djangorestframework==2.3.13
gunicorn==18.0
paramiko==1.12.1
psycopg2==2.5.2
python-etcd==0.3.0
PyYAML==3.10
South==0.8.4

# Deis client requirements
docopt==0.6.1

# Deis documentation requirements
Sphinx>=1.2.2
smartypants>=1.8.3
sphinxcontrib-httpdomain>=1.2.1
