# Deis requirements for Sphinx documentation generation
boto==2.23.0
celery==3.1.7
Django==1.6.1
django-json-field==0.5.5
djangorestframework==2.3.12
dop==0.1.4
paramiko==1.12.1
pyrax==1.6.2
PyYAML==3.10

# Deis client requirements
docopt==0.6.1

# Deis documentation requirements
Sphinx>=1.2
smartypants>=1.8.3
sphinxcontrib-httpdomain>=1.2.0
