# Deis client requirements
docopt==0.6.2
python-dateutil==2.2
requests==2.5.1
termcolor==1.1.0

# PyInstaller builds client binaries
git+https://github.com/pyinstaller/pyinstaller@7413317

# Deis documentation requirements
Sphinx>=1.2.3
smartypants>=1.8.6
sphinxcontrib-httpdomain>=1.3.0

# Run "make coverage" for the % of code exercised during tests
coverage>=3.7.1

# Generates template documentation in the Django admin
docutils>=0.12

# Run "make flake8" to check python syntax and style
flake8==2.2.2

# Used for mocking endpoints
mock==1.0.1
