# Deis controller requirements
#
# NOTE: For testing on Mac OS X Mavericks, use the following to work around a clang issue:
# ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future pip install [args]
#
Django==1.6.7
django-allauth==0.15.0
# FIXME: switch to upstream pending merge of https://github.com/kmmbvnr/django-fsm/pull/59
git+https://github.com/deis/django-fsm@propagate-false
django-guardian==1.2.4
django-json-field==0.5.5
django-yamlfield==0.5
djangorestframework==2.3.14
docker-py==0.4.0
gunicorn==18.0
paramiko==1.14.1
psycopg2==2.5.2
python-etcd==0.3.0
PyYAML==3.11
redis==2.9.1
static==1.0.2
South==1.0
