# Deis controller requirements
#
# NOTE: For testing on Mac OS X Mavericks, use the following to work around a clang issue:
# ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future pip install [pycrypto]
#
celery==3.1.8
Django==1.6.4
django-allauth==0.15.0
# HACK: use bacongobbler's feature branch until
# https://github.com/kmmbvnr/django-fsm/pull/31 is merged
git+https://github.com/deis/django-fsm@add-exception-handling
django-guardian==1.1.1
django-json-field==0.5.5
django-yamlfield==0.5
djangorestframework==2.3.13
gunicorn==18.0
paramiko==1.12.1
psycopg2==2.5.2
pycrypto==2.6.1
python-etcd==0.3.0
PyYAML==3.10
redis==2.8.0
static==1.0.2
South==0.8.4
