# Deis controller requirements
#
# NOTE: For testing on Mac OS X Mavericks, use the following to work around a clang issue:
# ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future pip install [args]
#
Django==1.6.8
# FIXME: switch to upstream pending merge of https://github.com/kmmbvnr/django-fsm/pull/59
git+https://github.com/deis/django-fsm@propagate-false
django-cors-headers==0.13
django-guardian==1.2.4
django-json-field==0.5.7
djangorestframework==2.4.3
docker-py==0.4.0
gunicorn==19.1.1
paramiko==1.14.1
psycopg2==2.5.4
python-etcd==0.3.0
PyYAML==3.11
redis==2.9.1
static==1.0.2
South==1.0
