[Unit]
Description=deis-builder
After=docker.service
Requires=docker.service
Requires=docker-tcp.socket

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a deis-builder || /usr/bin/docker run --name deis-builder -P -e HOST=10.1.42.1 -e ETCD=10.1.42.1:4001--privileged deis/builder'
ExecStop=/usr/bin/docker stop deis-builder

[Install]
WantedBy=multi-user.target